<form #myForm="ngForm">
  <input
    #usernameInput="ngModel"
    required
    name="username"
    [(ngModel)]="username"
    placeholder="username"
  >

  <div
    *ngIf="!usernameInput.valid && !usernameInput.pristine">
    Username is required
  </div>

  <br>
  <input
    #passwordInput="ngModel"
    required
    name="password"
    [(ngModel)]="password"
    placeholder="password"
  >

  <div
    *ngIf="!passwordInput.valid && !passwordInput.pristine">
    Password is required
  </div>

  <br>
  <button [disabled]="!myForm.valid" (click)="onFormSubmit()">Login</button>
</form>
